spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

redis:
  host: localhost
  port: 6379
  timeout: 3000
  lock:
    wait-time: 5
    lease-time: 3

queue:
  max-processing-count: 100
  entry-timeout-seconds: 300
  waiting-timeout-seconds: 1800

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE