spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ticket
    username: user
    password: user153
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true